main {
    max-width: 1920px;
}

.tex-primary {
    color: #E55473;
}

* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* background color styles */

.header {
    background: #FFF8F3;
}

.banner {
    padding: 30px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-pic {
    width: 350px;

}

.banner-title {
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
    max-width: 500px;
}

.banner-discription {
    max-width: 634px;
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.signup-btn {
    margin: 24px 0px 150px 335px;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

.btn-subcribe{
    margin: 2px 0px 130px 512px;
    display: inline-flex;
    padding: 19px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}


/* main section style */




.section-title {
    padding: 178px 150px 24px 150px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    width: 594px;
    margin: auto;
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


#what-i-do {

    text-align: center;
}


.flower-container {
    display: flex;
}


.section {}



.feature--section-pic {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


.all-contain {
    padding: 48px 150px 0px 150px;
    align-items: center;
    margin: 20px;
}

.skill-title {}


/* services section */

.about {
    padding: 130px;
    border-radius: 10px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.section-description {
    padding-bottom: 25px;
    color: #757575;
    text-align: center;
    font-size: 18px;
}


.delivery-section-description {
    padding: 86px 100px 86px 175px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin: 128px 150px 128px 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.delivery-info-description {
    padding-top: 20px;
    margin: auto;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}

.insta-photo-container {
    margin-right: 24px 150px 0px 150px;
    display: flex;
    /* padding: 30px 150px 0px 150px; */
}

.insta {

    /* margin: auto; */
    gap: 5px;
    border-radius: 5px;
    background: #FFF;
}

/* main section style */
main {}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.discount {
    display: flex;
    padding: 150px;
    border-radius: 10px;
    background: #FFF8F3;
    /* margin: 150px; */
}

.banner {
    padding: 30px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF8F3;

}

.banner .profile-pic {
    width: 300px;
    height: 420px;
    flex-shrink: 0;
}


.discount-title {
    /* =font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px; */
    padding: 150px 170PX 0px 160px;

    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.discount-discription {
    /* max-width: 500px; */
    padding: 20px 170PX 0px 150px;
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* span {
    color: red;
} */

/* .discount-discription {
    display: flex;
    padding: 24px 440px 0px 170px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
} */


#meen-bg {
    /* background: #FFF8F3; */
    background-image: url(../images/Rectangle_9.png)
        /* background-repeat: no-repeat; */
        /* background-position: bottom right; */
}

.discount-image {
    display: flex;

}

.contact {
    margin-top: 10px;
    width: 500px;
    height: 64px;
    flex-shrink: 0;

    border-radius: 8px;
    background: #FFF;
}

.get-deal-title {
    /* padding: 100px 150px 24px 150px; */
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}